server {
  listen 443 ssl spdy;
  server_name pay.donate.peacecorps-dev.18f.us;

  ssl_certificate      /etc/nginx/ssl/keys/pay.crt;
  ssl_certificate_key  /etc/nginx/ssl/keys/pay.key;
  include ssl/ssl.rules;

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log info;

  location / {
    if (!-f $request_filename) {
      proxy_pass http://peacecorps-configtest-elb-2015680413.us-east-1.elb.amazonaws.com;
      break;
    }
  }
}