server {
  listen 443 ssl spdy;
  server_name           peacecorps-kibana.18f.us;

  ssl_certificate      /etc/nginx/ssl/keys/star.18f.us.crt;
  ssl_certificate_key  /etc/nginx/ssl/keys/star.18f.us.key;
  include ssl/ssl.rules;

  access_log            /var/log/nginx/peacecorps-kibana.18f.us.access.log;
  error_log             /var/log/nginx/peacecorps-kibana.18f.us.error.log;

  location / {
    root  /var/www/kibana-3.1.2;
    index  index.html  index.htm;
  }

  location ~ ^/_aliases$ {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
  }
  location ~ ^/.*/_aliases$ {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
  }
  location ~ ^/_nodes$ {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
  }
  location ~ ^/.*/_search$ {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
  }
  location ~ ^/.*/_mapping {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
  }

  # Password protected end points
  location ~ ^/kibana-int/dashboard/.*$ {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
    limit_except GET {
      proxy_pass http://{{ ec2_private_ip_address }}:9200;
      #auth_basic "Restricted";
      #auth_basic_user_file /etc/nginx/conf.d/kibana.myhost.org.htpasswd;
    }
  }
  location ~ ^/kibana-int/temp.*$ {
    proxy_pass http://{{ ec2_private_ip_address }}:9200;
    proxy_read_timeout 90;
    limit_except GET {
      proxy_pass http://{{ ec2_private_ip_address }}:9200;
      #auth_basic "Restricted";
      #auth_basic_user_file /etc/nginx/conf.d/kibana.myhost.org.htpasswd;
    }
  }
}