[program:kibana]

command=/home/{{deploy_user}}/kibana-4.0.0-BETA2/bin/kibana
directory=/home/{{deploy_user}}/kibana-4.0.0-BETA2
user={{deploy_user}}
group={{deploy_user}}
autostart=true
autorestart=true
redirect_stderr=True