upstream app_server_djangoapp {
  server localhost:8000 fail_timeout=0;
}

server {
  listen 443 ssl spdy proxy_protocol;

  server_name {{ app_url }};
  ssl_certificate      /etc/nginx/ssl/keys/{{app_url}}.chained.crt;
  ssl_certificate_key  /etc/nginx/ssl/keys/{{app_url}}.key;

  # Include our SSL Rules (thanks @konklone)
  include ssl/ssl.rules;

  # For ELB Instances, we set the CIDR of our VPC and expect proxy_protocol to get the actual IP of the user for logging
  set_real_ip_from 10.19.61.0/24;
  real_ip_header proxy_protocol;

  # Logging policies
  # TODO: if/else for elb_log on non-PPed instances
  access_log /var/log/nginx/peacecorps-webapp.access.log elb_log;
  error_log /var/log/nginx/peacecorps-webapp.error.log info;

  keepalive_timeout 5;

  # nginx should serve up static files and never send to the WSGI server
  location /static {
    alias /var/www/static;
  }

  # We disallow the admin panel on everything but the admin machine
  # It's also disabled in django, but this provides an extra level
  location /admin {
    deny all;
  }

  location / {
    proxy_set_header Host $http_host;
    proxy_redirect off;

    if (!-f $request_filename) {
      proxy_pass http://app_server_djangoapp;
      break;
    }
  }
}

server {
    listen 80;
    server_name {{app_url}};

    return 301 https://$host$request_uri;
}
