upstream app_server_djangoapp {
  server localhost:8000 fail_timeout=0;
}

server {
  {% if 'tag_role_admin' in group_names %}
    # We don't enable proxy_protocol (since admin doesn't sit behind and ELB)
    # We set the max_body_size to be big enough for large uploads
    listen 443 ssl spdy;
    client_max_body_size 10M;

  {% else %}
    listen 443 ssl spdy proxy_protocol;

  {% endif %}

  {% if 'tag_role_paygov' in group_names %}
    # For paygov, we present the internal URL & Cert
    server_name pay.donate.peacecorps.internal;

    ssl_certificate      /etc/nginx/ssl/keys/pay.donate.peacecorps.internal.crt;
    ssl_certificate_key  /etc/nginx/ssl/keys/pay.donate.peacecorps.internal.key;

  {% else %}
  # Otherwise, we assume this is a webapp
    server_name {{root_domain_name}};
    ssl_certificate      /etc/sslmate/beta.peacecorps.gov.chained.crt;
    ssl_certificate_key  /etc/sslmate/beta.peacecorps.gov.key;

  {% endif %}

  # Include our SSL Rules (thanks @konklone)
  include ssl/ssl.rules;

  {% if 'tag_role_admin' not in group_names %}
    # For ELB Instances, we set the CIDR of our VPC and expect proxy_protocol to get the actual IP of the user for logging
    set_real_ip_from 10.19.61.0/24;
    real_ip_header proxy_protocol;

  {% endif %}

  # Logging policies
  # TODO: if/else for elb_log on non-PPed instances
  access_log /var/log/nginx/peacecorps-webapp.access.log elb_log;
  error_log /var/log/nginx/peacecorps-webapp.error.log info;

  keepalive_timeout 5;

  # nginx should serve up static files and never send to the WSGI server
  location /static {
    alias /var/www/static;
  }

  {% if 'tag_role_admin' not in group_names %}
    # We disallow the admin panel on everything but the admin machine
    # It's also disabled in django, but this provides an extra level
    location /admin {
        deny all;
    }

  {% endif %}

  location / {
    proxy_set_header Host $http_host;
    proxy_redirect off;

    {% if 'tag_role_paygov' not in group_names %}
      # We set some policies here to force authentication unless coming
      # from a trusted IP
      satisfy any;

      # GSA
      allow 159.142.0.0/16;

      # Peace Corps
      allow 65.205.231.0/24;
      allow 72.37.171.131/32;
      allow 72.37.171.132/32;
      allow 80.254.156.99/32;
      allow 80.254.156.100/32;

      deny all;

      auth_basic "Restricted";
      auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif %}

    if (!-f $request_filename) {
      {% if 'tag_role_admin' in group_names %}
        # We allow you, on admin instances, to not append /admin to the URL
        # TODO: Clean this up.
        rewrite ^/admin/(.*) /admin/$1 break;
        rewrite ^/(.*) /admin/$1 break;

      {% endif %}

      proxy_pass http://app_server_djangoapp;
      break;
    }
  }
}

server {
    listen 80;
    {% if 'tag_role_paygov' in group_names %}
      server_name pay.donate.peacecorps.internal;

    {% else %}
      server_name {{root_domain_name}};

    {% endif %}

    return 301 https://$host$request_uri;
}
